.appointments-body{
    background-color: #f5f5f5;
    padding: 3%;
    border-radius: 0.5rem;
    max-height: 80vh;
    overflow-y: scroll;
}

.alert-danger .btn-success {
    float: right;
}

.alert-success span {
    line-height: 34px;
}

.alert-success > div:after {
    clear: both;
    content: '';
    display: table;
}